<ul>
  <%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <li> <%= error %>  </li>
    <%end%>
  <%end%>
</ul>

<% if @new_user
     current_action = "/users"
     hash_key = "user"
   else
     current_action = "/session"
     hash_key = "session"
   end%>

<form action= "<%= current_action %>" method="post">
  
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

<label>Enter your username:
  <input type="text" name="<%=hash_key%>[user_name]">
</label>

<label>create a password:
  <input type="password" name="<%=hash_key%>[password]" >
</label>

<label>
  <input type="submit" value ="SUBMIT BUDDY!"></label>

</form>
